<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>A-Share</title>
  <meta property="og:title" content="A-Share">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="Share your files and delete them with a randomly generated OTP.">
  <meta property="og:type" content="article">
  <meta property="og:image" content="">
</head>
<body>
  <div class="jumbotron">
    <h3><%- message %></h3>
<div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
           <b>Upload File:</b>
            <br><input class="btn btn-secondary" type="file" name="uploads" id="uploads"
           multiple/>
           <br><hr><input class="btn btn-primary" type="submit" style="border-radius: 4px;" name="uploadfiles" value="Upload">
       </form>
  </div>
</div>
</div>
  <div class="jumbotron">
  <form action="/removetoken" method="post">
      <div>
        <br>
        <label><b>Token for Removal:</b></label>
        <br>
        <input type="text" name="token"/><br>
        <hr>
        <input class="btn btn-primary" type="submit" value="Remove"/>
      </div>
    </form>
  </div>
  <p class="text-center text-muted"><small>Uploaded files are occasionally purged and furthermore are subject to manual deletion. The host bears no liability for files uploaded and distributed through A-Share, an open source project.</small><br>
  <p class="text-center text-muted"><small>If you suspect this application is being abused, please contact the email associated with this site's administrator.</small>



</body>
</html>